In [1]:
#Here are the librarys we need to import
%matplotlib inline
import matplotlib.pyplot as plt
import xml.etree.ElementTree as etree 
from datetime import datetime
import os
import json
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
#Do all the file names and paths handling

#input_file_path :  this is full path descriptor of proprietary input file
#output_file_path :  this is full path descriptor of json output file

input_dir = "/opt/notebook/data/csv"
input_file = 'activity_speed' + '.csv'
input_file_path = os.path.join(input_dir , input_file)
print ("Input file is (full path)  ", input_file_path)

Input file is (full path)   /opt/notebook/data/csv/activity_speed.csv

In [3]:
df = pd.read_csv(input_file_path, index_col = 'time',  parse_dates=True)

In [4]:
df.describe()

       distance_diff    time_diff        speed      moving        breaks
count    5358.000000  5358.000000  5358.000000        5358          5358
mean       19.660904     3.428891    25.820063   0.9925345  0.0003732736
std        18.063191    32.195810     9.102339  0.08608787    0.01931849
min         0.000000     1.000000     0.000000       False         False
25%         6.931396     1.000000    20.300000           1             0
50%        11.113281     1.000000    25.900000           1             0
75%        28.084473     4.000000    30.800000           1             0
max        68.839844  1775.000000    67.400000        True          True

[8 rows x 5 columns]

In [5]:
df.head()

                     distance_diff  time_diff  speed moving breaks
time
2015-09-13 06:25:51       0.000000          1    0.0  False  False
2015-09-13 06:25:56      23.080000          5   16.6   True  False
2015-09-13 06:25:57       6.650002          1   23.9   True  False
2015-09-13 06:26:00       5.910000          3    7.1   True  False
2015-09-13 06:26:03      11.439999          3   13.7   True  False

[5 rows x 5 columns]