In [1]:
#Import Python Libraries
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.dates as dates
from matplotlib.ticker import FuncFormatter, MultipleLocator

import xml.etree.ElementTree as etree 
from datetime import datetime, timedelta
import os
import json
import pandas as pd
import numpy as np
from pytz import common_timezones, all_timezones, timezone

In [2]:
# Define name and path of data file
input_file = 'activity_898238015_30.csv'
input_dir = os.path.join("/", "opt","jupyter","data","csv" )
input_file_path = os.path.join(input_dir , input_file)

output_file = 'activity_898238015_40.csv'
output_dir = os.path.join("/", "opt","jupyter","data","csv" )
output_file_path = os.path.join(input_dir , output_file)

print ("Input file is (full path)  ", input_file_path)
print ("Output file is (full path)  ", output_file_path)

Input file is (full path)   /opt/jupyter/data/csv/activity_898238015_30.csv
Output file is (full path)   /opt/jupyter/data/csv/activity_898238015_40.csv

In [3]:
# Load data file into a Pandas data frame for inspection
df = pd.read_csv(input_file_path, index_col = 'time',  parse_dates=True)

# Define and set data source time zone
tz_source = 'UTC'
# Set timezone in our data frame
df = df.tz_localize( tz_source )

# Convert to local time zone - Dublin, Ireland
tz_local = timezone('Europe/Dublin')
df = df.tz_convert(tz_local  )

In [4]:
df_moving = df[df.moving].copy()
df_moving = df_moving.reset_index()
df_moving['interval10'] = df_moving.distance.apply(lambda x: (int (x / 10) + 1) * 10 )

In [5]:
df.head()

,altitude,cadence,distance,heart_rate,latitude,longitude,time_diff,breaks,distance_diff,speed,moving
time,,,,,,,,,,,
2015-09-13 07:25:51+01:00,79.400002,76,5.010,103,53.363708,-6.190183,1,False,0.000,0.0000,False
2015-09-13 07:25:52+01:00,81.680002,77,9.626,104,53.363718,-6.190250,0,False,4.616,0.0000,False
2015-09-13 07:25:53+01:00,83.960002,79,14.242,104,53.363729,-6.190317,0,False,4.616,11.0784,True
2015-09-13 07:25:54+01:00,86.240002,80,18.858,105,53.363740,-6.190384,0,False,4.616,16.6176,True
2015-09-13 07:25:55+01:00,88.520003,82,23.474,105,53.363750,-6.190451,0,False,4.616,16.6176,True

In [13]:
df.iloc[:1].breaks.values[0]

False

In [ ]:
df.iloc[:1].breaks

In [20]:
df.breaks[0]

False

In [43]:
def define_segments():
    initial_value = df.iloc[:1].breaks.values[0]
    last_value = initial_value
    start_loc = 0
    
    for loc, val in enumerate(df.breaks):
        if val != last_value:
            #print('value of iloc is ' + str(loc))
            
            yield (start_loc,loc - 1,last_value)
            last_value = val
            start_loc = loc
    yield (start_loc,loc, val)

In [53]:
seg = []
for i in xx():
    if ~i[2]:
        seg.append(df.iloc[i[0]:i[1]+1])
        print (str(i))

(0, 1189, False)
(2736, 11817, False)
(13593, 18371, False)

In [56]:
seg[0].tail()

,altitude,cadence,distance,heart_rate,latitude,longitude,time_diff,breaks,distance_diff,speed,moving
time,,,,,,,,,,,
2015-09-13 07:45:36+01:00,80.199997,0,6910.22998,104,53.349805,-6.277627,0,False,0,0,False
2015-09-13 07:45:37+01:00,80.199997,0,6910.22998,104,53.349804,-6.277628,0,False,0,0,False
2015-09-13 07:45:38+01:00,80.199997,0,6910.22998,104,53.349804,-6.277630,0,False,0,0,False
2015-09-13 07:45:39+01:00,80.199997,0,6910.22998,104,53.349803,-6.277631,0,False,0,0,False
2015-09-13 07:45:40+01:00,80.199997,0,6910.22998,104,53.349803,-6.277632,10,False,0,0,False